{% extends 'layouts/app.html.twig' %}

{% block content %}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Nova Categoria</h3>
    </div>
    <div class="panel-body">

        <div class="col-md-6">

            <form method="post" action="/categories/store">
                <div class="form-group">
                    <label class="control-label">Nome</label>
                    <input type="text" name="name" class="form-control" required />
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                    <a href="/categories" class="btn btn-danger">Cancelar</a>
                </div>
            </form>

        </div>
       
    </div>
</div>

{% endblock %}