{% extends 'layouts/app.html.twig' %}

{% block content %}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Categorias</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <a href="/category/create" class="btn btn-primary">Nova Categoria</a>
            </div>    
        </div>

        <br/>

        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th width="10%">#</th>
                            <th>Nome</th>
                            <th width="10%" class="text-center">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for category in categories %}
                            <tr>
                                <td>{{category.id}}</td>
                                <td>{{category.name}}</td>
                                <td class="text-center">
                                    <a href="/categories/{{category.id}}/edit" class="btn btn-primary btn-xs">
                                        <i class="glyphicon glyphicon-pencil"></i>
                                    </a>

                                    <a href="/categories/{{category.id}}/remove" class="btn btn-danger btn-xs">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}